<!doctype html>
<html>
	<head>
		<meta charset="utf-8">
		<title>Log</title>

		<script type=text/javascript src="{{url_for('static', filename='jquery.js') }}"></script>

		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

		<!-- Optional theme -->
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

		<!-- Latest compiled and minified JavaScript -->
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
	</head>
	<body>

		<div class="page-header" >
			<h1 style="margin-left: 1%"><a  href="/"> < </a> <small id="title" style="padding-left: 20px;"></small></h1>
		</div>

		<div id='text' class="well well-lg" style="white-space:pre-wrap;"></div>

		<script type="text/javascript">
			var title = '{{title}}';
			$('#title').append(title);

			var text = '{{text}}'.slice(6, -5);
			$('#text').append(text);
		</script>

	</body>
</html>