<!doctype html>
<html>
	<head>
		<base href="/">
		<meta charset="utf-8">
		<title>Log</title>

		<script type=text/javascript src="{{url_for('static', filename='jquery.js') }}"></script>
		<script type=text/javascript> $SCRIPT_ROOT = {{ request.script_root|tojson|safe }};</script>

		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

		<!-- Optional theme -->
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

		<!-- Latest compiled and minified JavaScript -->
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
	</head>
	<body>

		<script type=text/javascript>
			$(document).ready(function() {
				$.getJSON($SCRIPT_ROOT + '/all_logs', function(data) {
					for (var key in data) {
						if (data.hasOwnProperty(key)) {
							var href = $SCRIPT_ROOT + '/log/' + key;
							var text = 'Title: ' + data[key];
							$('<a class="list-group-item" href="' + href + '"' + '>' + text + '</a>').appendTo('div.list-group');
						}
					}
				});
			});
		</script>

		<div class="list-group">
		</div>

		<form method="post" enctype="multipart/form-data" action="/upload" style="position: absolute; left: 30%; transform: translate(0%, -0%);">

			<div class="col-lg-6">
				<div class="input-group">
					<input type="file" name="file" class="form-control" placeholder="File path">
					<span class="input-group-btn">
						<button class="btn btn-default" type="submit">Upload</button>
					</span>
				</div><!-- /input-group -->
			</div><!-- /.col-lg-6 -->
		</form>

	</body>
</html>